
.carousel-item {
    height: 400px;
}
.carousel-item img {
    margin-top: 30px;
    height: 100%;
    object-fit: cover;
}
.meu-carrossel {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
#logo-site {
    width: 100px;
    height: auto;
}
.caixa-menuprincipal .menu li a {
    font-size: 25px;
    font-weight: 600;
}
.card-img-top {
    height: 300px;
    object-fit: cover;
}
.img-principal {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px; ;
    border-radius: 10px;
}
.descricao-detalhes {
    text-align: justify;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
}
.titulo-detalhes {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
}
.img-sobre {
    width: 100%;
    max-width: 600px;
    height: 100%;
    min-height: 400px;
    border-radius: 10px;
    margin: 20px 0;
}   
#map {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}
.marker-destaque {
  width: 40px;
  height: 40px;
  background-color: #e30808;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  cursor: pointer;
}
